<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQL Server Job Documentation</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a class=".home_icon" href='/'>
            <div class="home_icon"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"
                    fill="rgba(255,255,255,1)">
                    <path
                        d="M21 20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V9.48907C3 9.18048 3.14247 8.88917 3.38606 8.69972L11.3861 2.47749C11.7472 2.19663 12.2528 2.19663 12.6139 2.47749L20.6139 8.69972C20.8575 8.88917 21 9.18048 21 9.48907V20ZM19 19V9.97815L12 4.53371L5 9.97815V19H19Z">
                    </path>
                </svg>
                <div class=".home_text"><a class=".home_text" href='/'>Home</a></div>
        </a>

    </div>

    <div class="job-links">
        {%for i in range(0, len)%}

        <div class="job-tooltip">
            <span class="job-tooltiptext">{{jobSteps[i]['step_name']}}</span>
            <a class="job-links2" href="#step{{jobSteps[i]['step_id']}}">Step {{jobSteps[i]['step_id']}}:
                {{jobSteps[i]['step_name']}} </a>
        </div>
        {%endfor%}
    </div>
    </div>
    <main>
        <div class="main">
            <h2>{{jobSteps[0]['JobName']}}</h2>
            <p><em><strong>Date Generated: {{getdate}}</strong></em></p>
            {% if isEnabled == "1" %}
            <p><em><strong>Enabled: Yes</strong></em></p>
            {% else %}
            <p><em style=color:red>Enabled: No</em></p>
            {% endif %}

            <!-- For loop logic of jinja template -->
            {%for i in range(0, len)%}

            <div class="table" id="step{{i+1}}">
                <table class="table table-hover">
                    <tr>
                        <strong>Step {{jobSteps[i]['step_id']}}: {{jobSteps[i]['step_name']}}</strong>

                        <tbody>
                            <tr scope="row">
                                <th style="background-color: RGB(243, 243, 243);">
                                    <strong>Infomation</strong>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row" style="background-color: RGB(243, 243, 243);">Last Run Outcome</th>
                                <td style="background-color: RGB(243, 243, 243);">{% if jobSteps[i]['last_run_outcome'] == "1" %} Success {% else %} Not Sucessful {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" style="background-color: RGB(243, 243, 243);">Last Run DateTime
                                    (Duration (Hours:Minutes:Seconds))</th>
                                <td style="background-color: RGB(243, 243, 243);">{{jobSteps[i]['lastrundate']}}
                                    ({{jobSteps[i]['Hours']}}:{{jobSteps[i]['Minutes']}}:{{jobSteps[i]['Seconds']}})
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" style="background-color: RGB(243, 243, 243);">Type</th>
                                <td style="background-color: RGB(243, 243, 243);">{{jobSteps[i]['subsystem']}}</td>
                            </tr>
                            <tr>
                                <th scope="row" style="background-color: RGB(243, 243, 243);">Command</th>
                                <td style="background-color: RGB(243, 243, 243);">{{jobSteps[i]['command']}}</td>
                            </tr>
                            <tr>
                                <th scope="row" style="background-color: RGB(243, 243, 243);">On Success</th>
                                <td style="background-color: RGB(243, 243, 243);">{{jobSteps[i]['On_Success']}}</td>
                            </tr>
                            <tr>
                                <th scope="row" style="background-color: RGB(243, 243, 243);">On Failure</th>
                                <td style="background-color: RGB(243, 243, 243);" colspan="2">
                                    {{jobSteps[i]['On_Failure']}}</td>
                            </tr>


                        </tbody>
                </table>
            </div>
            {%endfor%}



</body>

</html>