<!DOCTYPE html> 
  
<html> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQL Server Job Documentation</title>
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head> 
<body> 
    <div id="mySidenav" class="sidenav">
        {%for i in range(0, len)%} 
        <a href="#step{{jobSteps[i]['step_id']}}">Step {{jobSteps[i]['step_id']}}: {{jobSteps[i]['step_name']}} </a>
        {%endfor%} 
    </div>
<main>
    <div class="main">
        <h2>Test 1</h2>
        <p><em>Created: February 16, 2024</em></p>

<!-- For loop logic of jinja template -->
{%for i in range(0, len)%} 
  
<div class="table" id="step{{i+1}}">
    <table class="table table-hover">
        <tr>
            <strong>Step {{jobSteps[i]['step_id']}}</strong>

            <tbody>
                <tr scope="row">
                    <th><strong>{{jobSteps[i]['step_name']}}</strong> </th>
                </tr>
                <tr>
                    <th scope="row">Type</th>
                    <td>{{jobSteps[i]['subsystem']}}</td>
                </tr>
                <tr>
                    <th scope="row">Command</th>
                    <td>{{jobSteps[i]['command']}}</td>
                </tr>
                <tr>
                    <th scope="row">On Success</th>
                    <td>{{jobSteps[i]['On_Success']}}</td>
                </tr>
                <tr>
                    <th scope="row">On Failure</th>
                    <td colspan="2">{{jobSteps[i]['On_Failure']}}</td>
                </tr>
            </tbody>
    </table>
</div>
{%endfor%} 
  

  
</body> 
</html> 